doctype html
html 
 head
  title Citadel
  meta(charset='utf-8')
  meta(content="text/html;charset=utf-8")
  meta(name="google-signin-client_id", content=cid)
  script(src="https://apis.google.com/js/platform.js?onload=onLoad",async defer)
  script.
    ipaddress="#{ipaddress}";
  script(type='text/javascript',src="/scripts/login.js")
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
 body
  div(class="jumbotron text-center")
   div(class="container")
    div(class="row")
     div(class="col-sm-9")
      h2 welcome #{context.username}
     div(class="col-sm-3")
      button(type="button" class="btn btn-primary btn-md" onclick="signOut()") Sign Out
  
  div(class="container")
   div(class="row")
    h2 Your Token is 
    p #{context.tokens}
