doctype html
html(lang="en")
  head 
    title= "Citadel"
    meta(charset='utf-8')
    meta(content="text/html;charset=utf-8")
    meta(name="google-signin-scope", content="profile email")
    meta(name="google-signin-client_id", content=cid)
    script(src="https://apis.google.com/js/platform.js?onload=onLoad",async defer)
    script.
      port="#{port}";
    script.
      ipaddress="#{ipaddress}";
    script(type='text/javascript',src="/scripts/login.js")
  body
    div(align="center")
     h1 Login to Citadel
     h1 using your Gmail Account
     div(class="g-signin2",data-onsuccess="onSignIn",data-theme="dark",id="Glogin")
